# 1. Explain with an example each when to use a for loop and a while loop.
- `For` loop used when we know the no. of iteration
- `While` loop used when no. of iteration is unknown. And the loop run itself till the statement become false

In [2]:
# for loop 
num=int(input("Enter an integer whose table you want "))
upto =int(input("Upto what times You want your table"))
for i in range (upto+1):
    result= num*i
    print(f"{num} X {i} = {result}")

Enter an integer whose table you want 23
Upto what times You want your table4
23 X 0 = 0
23 X 1 = 23
23 X 2 = 46
23 X 3 = 69
23 X 4 = 92

In [3]:
# For while loop
num=int(input("Enter an integer whose table you want "))
upto =int(input("Upto what times You want your table"))
i = 0
while i<=upto:
    result= num*i
    print(f"{num} X {i} = {result}")
    i+=1

Enter an integer whose table you want 23
Upto what times You want your table5
23 X 0 = 0
23 X 1 = 23
23 X 2 = 46
23 X 3 = 69
23 X 4 = 92
23 X 5 = 115

# 2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [4]:
# for loop 
sum_of_10_nat_num=0
pro_of_10_nat_num=1
for i in range(1,11):
    print(i)
    sum_of_10_nat_num+=i
    pro_of_10_nat_num*=i
print(f"the sum and product of the first 10 natural numbers are {sum_of_10_nat_num} and {pro_of_10_nat_num}")

1
2
3
4
5
6
7
8
9
10
the sum and product of the first 10 natural numbers are 55 and 3628800

In [5]:
# while loop 
sum_of_10_nat_num=0
pro_of_10_nat_num=1
count=11
i=1
while i<count:
    sum_of_10_nat_num+=i
    pro_of_10_nat_num*=i
    i+=1
print(f"the sum and product of the first 10 natural numbers are {sum_of_10_nat_num} and {pro_of_10_nat_num}")

the sum and product of the first 10 natural numbers are 55 and 3628800

# 3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
### Your program must pass this test case: when the unit of electricity consumed by the user in a month is 310, the total electricity bill should be 2250.

In [6]:
# only if else statement:
unit_consumed1 = float(input("the units of electricity consumed in a month"))
if unit_consumed1<=100 :
    print(f"the total bill is Rs.{unit_consumed1*4.5}")
elif unit_consumed1<=200:
    print(f"the total bill is Rs.{(100*4.5) + (unit_consumed1-100)*6}")
elif unit_consumed1<=300:
    print(f"the total bill is Rs.{(100*4.5) + (100)*6+ (unit_consumed1-200)*10}")
else:
    print(f"the total bill is Rs.{(100*4.5) + (100)*6+ 100*10 +(unit_consumed1-300)*20}")

the units of electricity consumed in a month310
the total bill is Rs.2250.0

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [7]:
l=[]
for i in range (1,101):
        l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [8]:
l_cube=[i**3 for i in l]
print(l_cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [9]:
l1=[i for i in l_cube if i**3%4==0 or i**3%5==0]
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [10]:
L2=[]
i=0
while i <len(l_cube):
    if l_cube[i]%4==0 or l_cube[i]%5==0:
        L2.append(l_cube[i])
    i+=1
print(L2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Q5. Write a program to filter count vowels in the below-given string. string = "I want to become a data scientist"

In [12]:
string = "I want to become a data scientist"
vowels=['a','e','i','o','u']
def isvow(a):
    return a.lower() in vowels
def count_vow(string):
    count=0
    for i in range(len(string)):
        if isvow(string[i]):
            count+=1
    return count
# for i in new_string:
#     if new_string[i] in vowels
print(f"The total number of vowels in the given sentence is {count_vow(string)}")
# string.count()

The total number of vowels in the given sentence is 12